<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block sidebar %}
    <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
